/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(244, 148, 31, 1) 100%);
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgb(22, 105, 164); /* Azul */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 28px;
}

/* Container */
.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: #fff;
    border-right: 2px solid #ddd;
    padding: 20px;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(22, 105, 164); /* Azul */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: rgb(22, 105, 164); /* Azul */
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    border-radius: 8px;
}

h2 {
    color: rgb(22, 105, 164); /* Azul */
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 5px;
}

p {
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: rgb(22, 105, 164); /* Azul */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 2px solid #ddd;
    }

    main {
        margin-left: 0;
    }
}
