body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(244, 148, 31, 1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambiar a min-height para permitir que el contenido crezca */
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    color: rgb(22, 105, 164);
    margin-bottom: 20px;
    font-size: 28px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.field input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

.field input:focus {
    border-color: #5ca9e4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(70, 161, 231, 0.3);
}

#button {
    width: 100%;
    padding: 10px;
    background-color: #f4951f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

#button:hover {
    background-color: #ff8c00;
}

.recuadro-repuesto-cantidad {
    border: 2px solid #f4951f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo opcional */
}

.recuadro-repuesto-cantidad .field {
    margin-bottom: 15px;
}

.recuadro-repuesto-cantidad .field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.recuadro-repuesto-cantidad .field input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

.repuesto-container {
    margin-bottom: 15px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper input {
    flex-grow: 1;
    margin-right: 10px;
}

#add-repuesto-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #f4951f;
    cursor: pointer;
    line-height: 1;
    padding: 0;
}

#add-repuesto-btn:hover {
    color: #ff8c00;
}

.remove-repuesto-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #ff0000;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
}

.remove-repuesto-btn:hover {
    color: #d40000;
}

.field textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    resize: vertical; /* Permite al usuario ajustar la altura del textarea */
}

.field textarea:focus {
    border-color: #5ca9e4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0 2px rgba(70, 161, 231, 0.3);
}

#user-info p {
    margin: 0;
    font-size: 11px;
    color: rgb(22, 105, 164); /* Igual que el color de los labels */
}

/* Estilo para el enlace de salida */
#logout-link {
    display: block;
    margin-top: 10px;
    color: #f4951f;
    text-decoration: none;
    font-size: 11px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Estilo al pasar el cursor por encima del enlace de salida */
#logout-link:hover {
    text-decoration: underline;
    color: #ff8c00;
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente similar al del contenedor de búsqueda */
    border-radius: 8px;
    max-width: 600px; /* Igual al ancho máximo de los otros contenedores */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
