//Variables de colores

$rosa:#E21982;
$azul:#22193F;
$gris:#E8E8E8;



.contenedor-footer{
    background-color: $azul;
}

.footer{
    background-color: $azul;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    padding-left: 310px;
    
    
    a{
        color: $gris;
        font-size: 14px;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        text-decoration: none;
        padding-right: 20px;
    }

    i{
        color: $rosa;
    }
    
}
.hr{
    display: flex;
    justify-content: center;
    align-items: center;
    hr{
    
        color: $gris;
        padding: 0px;
        margin: 0px;
        width: 1300px;
        
    }

}

.copy{
    text-align: center;
    color: $gris;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 20px;

    p{
        margin-bottom: 0px;
    }
}
.iconos{
    display: flex;
    padding-right: 280px;
    
    
}
.icono{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color:$gris;
    border-radius: 100px;
}

.col{
    padding: 0px 0px;
}


