$rosa:#E21982;
$azul:#22193F;
$gris:#E8E8E8;

.quienes-somos{
    text-align: center;
    background-color: $gris;
    padding-top: 70px;
    padding-bottom: 70px;

    h3{
        color: $rosa;
        font-size: 12px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        margin-bottom: 0px;

    }

    h2{
        color: $azul;
        font-size: 28px;
        font-family: 'Nunito', sans-serif;
        font-weight: 900;

    }
    p{
        text-align: center;
        color: $azul;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    span{
        font-weight: bold;
    }
}